<div class="ore flex-item">
    <h3 class="traitsheet-header">
        <div>{{localize "ORE.gen.equipment"}}
        <a class="item-create" title="Add Equipment" data-type="equipment"><span style="font-size:0.85em;"><i class="fa fa-plus"></i></a></span>
        </div>
    </h3>
    <table class="item-table">
    <tr>
    <th style="text-align:left">Item</th>
    <th style="text-align:left">Description</th>
    <th style="text-align:center">Value</th>
    </tr>
    {{#each equipment as |eqp id|}}
    {{log "Stat.id" eqp.id "Stat name" eqp.name}}
        <tr class="item-name item" data-item-id="{{eqp.id}}">
            <td >
              <a class="item-edit" title="Edit"><strong>{{eqp.name}}</strong></a>
            </td>
            <td>
                {{eqp.system.desc}}
            </td>
            <td>
                {{eqp.system.cost}}
            </td>
        </tr>
    {{/each}}
    </table>
</div>
