<div class="flexcol" style="align-items:flex-start">
    <div class="traitsheet-header">
        {{localize "ORE.gen.point_pools"}}
        <a class="item-create" title="Add Point Pool" data-type="point_pool">
            <i class="fa fa-plus"></i>
        </a>
    </div>
    <table class="item-table">
    {{#each pools as |pool id|}}
    {{log "Pool object" pool}}
         <tr>
        </td>
            <td class="item-name item" data-item-id="{{pool.id}}">
                <a class="item-edit" title="Edit"><strong>{{pool.name}}</strong></a>
            </td>
            <td>
              {{pool.system.curr_points}} / {{pool.system.max_points}}
            </td>
            
            <td>
                <a class="adjust-pool" data-dir="inc" data-pool-id="{{pool.id}}"><i class="fa-solid fa-square-arrow-up"></i></a>
                &nbsp;&nbsp;<a class="adjust-pool" data-dir="dec" data-pool-id="{{pool.id}}"><i class="fa-solid fa-square-arrow-down"></i></a>
            </td>
            <td style="right:100%;">
                <a style="color:rgb(153,147,131)" class="item-edit" title="Edit {{pool.name}}" data-item-id="{{pool.id}}"></a><i class="fa-solid fa-pencil"></i></a>
                <a style="color:rgb(153,147,131)" class="item-delete item" data-item-id="{{pool.id}}"><i class="fas fa-xmark"></i></a>
            </td>
        </tr>
    {{/each}}
    </table>
</div>
