<div class="ore flex-item">
    <h3 class="traitsheet-header">
        <div>{{localize "ORE.gen.powers"}}</div>
        <a class="item-create" title="Add Power" data-type="power"><i class="fas fa-plus-square"></i></a>
    </h3>
    <table class="item-table">
        
    {{#each powers as |power id|}}
         <tr>
         <td>
            <a class="power-roll" data-power-to-roll="{{power.id}}"><i class="fa-solid fa-dice-d10"></i></a>
         </td>
        </td>
            <td class="item-name item" data-item-id="{{power.id}}">
              <a class="item-edit" title="Edit"><strong>{{power.name}}</strong></a>
            </td>
            <td>
                {{power.system.dice.base}}d
                {{#if (ne power.system.dice.expert 0)}}
                    + {{power.system.dice.expert}}ed
                {{/if}}
                {{#if (ne power.system.dice.master 0)}}
                    + {{power.system.dice.master}}md
                {{/if}}
            </td>
            <td style="right:100%;">
                <a class="item-delete item" data-item-id="{{power.id}}"><i class="fas fa-trash"></i></a>
            </td>
        </tr>
    {{/each}}
    </table>
</div>
