<div class="ore flex-item">
    <h3 class="traitsheet-header">
        <div>{{localize "ORE.gen.qualities"}}
        <a class="item-create" title="Add Quality" data-type="quality"></a>
        <span style="font-size:0.85em;"><i class="fa fa-plus"></i></a></span>
        </div>
    </h3>
    <table class="item-table">
        
    {{#each qualities as |qual id|}}
         <tr>
         <!--td>
            <a class="qual-roll" data-qual-to-roll="{{qual.id}}"><i class="fa-solid fa-dice-d10"></i></a>
         </td-->
         <td class="item-name item" data-item-id="{{qual.id}}">
              <a class="item-edit" title="Edit"><strong>{{qual.name}}</strong></a><br/>
              <em>{{qual.system.desc}}</em>
         </td>
            <!--td>
                {{qual.system.dice.base}}d
                {{#if (ne qual.system.dice.expert 0)}}
                    + {{qual.system.dice.expert}}ed
                {{/if}}
                {{#if (ne qual.system.dice.master 0)}}
                    + {{qual.system.dice.master}}md
                {{/if}}
            </td-->
            <td style="right:100%;">
                <a class="item-delete item" data-item-id="{{qual.id}}"><i class="fas fa-xmark"></i></a>
            </td>
        </tr>
    {{/each}}
    </table>
</div>
