<div class="ore flex-item">
    <h3 class="traitsheet-header">
        <div>{{localize "ORE.gen.skills"}} {{localize "ORE.gen.diceabbrev"}}</div>
        <a class="item-create" title="Add Skill" data-type="skill"><i class="fas fa-plus-square"></i></a>
    </h3>
    <table class="item-table">
        
    {{#each skills as |skill id|}}
         <tr>
            <td class="item-name item" data-item-id="{{skill.id}}">
              <a class="item-edit" title="Edit"><strong>{{skill.name}}</strong></a>
            </td>
            <td>
                {{skill.system.dice.base}}d + {{skill.system.dice.expert}}ed + {{skill.system.dice.master}}md
            </td>
            <td style="right:100%;">
                <a class="item-delete item" data-item-id="{{skill.id}}"><i class="fas fa-trash"></i></a>
            </td>
        </tr>
    {{/each}}
    </table>
</div>
