<div class="flexcol" style="align-items:flex-start; border:1px solid blue;">
<div class="flex-item">
  
        <div class="traitsheet-header">{{localize "ORE.gen.skills"}} 
            <a class="item-create" data-action="addItem" title="Add Skill" data-type="skill">
                <i class="fas fa-plus"></i>
            </a>
        </div>
  
    <table class="item-table" style="border-collapse:separate">    
    {{#each skills as |skill id|}}
         <tr>
            <td style="border-bottom:1px solid rgb(187, 179, 159)" class="item-name item" data-item-id="{{skill.id}}">
            <a class="one-roll" title="Roll {{skill.name}}" data-roll-trait="{{skill.id}}" data-roll-type="skill" data-skill-to-roll="{{skill.id}}"><strong>{{skill.name}}</strong></a>
            </td>
            <td style="border-bottom:1px solid rgb(187, 179, 159)">
                
                

                {{skill.system.dice.base}}d
                {{#if (ne skill.system.dice.expert 0)}}
                    + {{skill.system.dice.expert}}ed
                {{/if}}
                {{#if (ne skill.system.dice.master 0)}}
                    + {{skill.system.dice.master}}md
                {{/if}}
                
            </td>
            <td style="right:100%;" class="item-name item" data-item-id="{{skill.id}}">
                <a style="color:rgb(153,147,131)"  title="Edit {{skill.name}}" class="item-edit"><i class="fa-solid fa-pencil"></i></a>&nbsp;&nbsp;
                <a style="color:rgb(153,147,131)" title="Delete {{skill.name}}" class="item-delete item" data-item-id="{{skill.id}}"><i class="fas fa-xmark"></i></a>
            </td>
        </tr>
    {{/each}}
    </table>

</div>
</div>