<div class="ore flex-item">
    <h3 class="traitsheet-header">
        <div>{{localize "ORE.gen.stats"}}</div>
        <!--a class="item-create" title="Add Stat" data-type="stat"><i class="fas fa-plus-square"></i></a-->
    </h3>
    <table class="item-table">
    {{#each stats as |stat name|}}
    {{#if stat.active}}
    <tr>
        <td>
            <a class="stat-roll" data-action="rollStat"  data-stat-to-roll="{{name}}"><i class="fa-solid fa-dice-d20"></i></a>
        </td>
        <td>
            <a class="edit-stat" data-action="editStat" data-stat="{{name}}"><strong>{{stat.defname}}</strong></a>
        </td>
            <!--td class="ore statfield" style="width:2ch;">
                <input class="attr-name" name="system.stats.{{name}}.base" type="text" value="{{stat.base}}" data-dtype="Number" maxwidth='2' size='3' />
            </td>
            <td class="ore statfield" style="width:2ch;">
                <input class="attr-name" name="system.stats.{{name}}.expert" type="text" value="{{stat.expert}}" data-dtype="Number" maxwidth='2' size='3' />
            </td>
            <td class="ore statfield" style="width:2ch;"> 
                <input class="attr-name" name="system.stats.{{name}}.master" type="text" value="{{stat.master}}" data-dtype="Number" maxwidth='2' size='3' />
            </td-->
        <td>
            {{stat.base}}d
            {{#if (ne stat.expert 0)}}
                + {{stat.expert}}ed
            {{/if}}
            {{#if (ne stat.master 0)}}
                + {{stat.master}}md
            {{/if}}
        </td>
    </tr>
    {{/if}}
    {{/each}}
    </table>
</div>
