
         {{#each stats as |stat name|}}
            {{#if stat.active}}
            <div class="flex-item">
                <div style="margin:auto;" class="traitsheet-header">
                    <a title="Edit {{getSetting name}}" class="edit-stat" data-action="editStat" data-stat="{{name}}">{{getSetting name}}</a>
                </div>
                    <a class="one-roll" data-roll-type="stat" data-roll-trait="{{name}}" data-stat-to-roll="{{name}}" title="Roll {{getSetting name}}">
                        <strong>{{stat.base}}d
                        {{#if (ne stat.expert 0)}}
                            + {{stat.expert}}ed
                        {{/if}}
                        {{#if (ne stat.master 0)}}
                            + {{stat.master}}md
                        {{/if}}
                        </strong>
                    </a>
            </div>
            {{/if}}
            {{/each}}

