<div class="ore flex-item" style="flex-grow:3">
    <h3 class="traitsheet-header">
        <div>{{localize "ORE.gen.weapons"}} <a class="item-create" title="Add Weapon" data-type="weapon">
            <span style="font-size:0.85em"><i class="fas fa-plus"></i></a></span> / 
        {{localize "ORE.gen.powers"}}
        <a class="item-create" title="Add Power" data-type="power"><span style="font-size:0.85em"><i class="fas fa-plus"></i></a></span></a>
        </div>
    </h3>
    <table class="item-table" style="border-collapse:separate;">
        <tr>
            <th style="text-align:left">Item</th>
            <th style="text-align:left">Qualities</th>
            <th style="text-align:left">Effect/Dmg</th>
            <th></th>
        </tr>
    {{#each weapons as |weapon id|}}
         <tr>
            <td  style="border-bottom:1px solid rgb(187, 179, 159)">
                 {{!--#ife weapon.system.weapontype "melee"}}<i class="fa-solid fa-hand-fist"></i>{{/ife}}
              {{#ife weapon.system.weapontype "ranged"}}<i class="fa-solid fa-gun"></i>{{/ife--}}
             <strong>{{weapon.name}}</strong>
             
            </td>
            <td style="border-bottom:1px solid rgb(187, 179, 159); text-align:left;">
                {{weapon.system.wepquals}}{{#if (ne weapon.system.wepquals "")}}, {{/if}}range {{weapon.system.min_range}}/{{weapon.system.max_range}}, ammo {{weapon.system.ammo_curr}}/{{weapon.system.ammo_max}}
            </td>
            <td style="border-bottom:1px solid rgb(187, 179, 159); text-align:left">
               {{weapon.system.damage.text}}
            </td>
            
            <!--td style="text-align:center">
                {{weapon.system.spray}}d / {{weapon.system.area}}d / {{weapon.system.pen}}d
            </td-->
            <!--td style="text-align:center">
                {{weapon.system.min_range}}/{{weapon.system.max_range}}
            </td-->
            <td style="text-align:center">
                <a style="color:rgb(153,147,131)" class="item-edit item" data-item-id="{{weapon.id}}" title="Edit {{weapon.name}}"><i class="fa-solid fa-pencil"></i></a>&nbsp;&nbsp;
                <a style="color:rgb(153,147,131)" class="item-delete item" data-item-id="{{weapon.id}}" title="Delete {{weapon.name}}"><i class="fas fa-xmark"></i></a>
            </td>
        </tr>
    {{/each}}
    {{#each powers as |power id|}}
         <tr>
              
            <td style="border-bottom:1px solid rgb(187, 179, 159)">
                <!--i class="fa-solid fa-bolt-lightning"></i></a-->
              <strong>{{power.name}}</strong>
              
            </td>
            <td style="border-bottom:1px solid rgb(187, 179, 159);text-align:left;">
                
                <a class="one-roll" title="Roll {{power.name}}" data-roll-type="power" data-roll-trait="{{power.id}}" ><i class="fa-solid fa-bracket-square"></i>
                <strong>{{power.system.dice.base}}d
                {{#if (ne power.system.dice.expert 0)}}
                    + {{power.system.dice.expert}}ed
                {{/if}}
                {{#if (ne power.system.dice.master 0)}}
                    + {{power.system.dice.master}}md
                {{/if}}
                </strong>
                <i class="fa-solid fa-bracket-square-right"></i>
                </a>, {{power.system.desc}}
            </td>
            <td style="border-bottom:1px solid rgb(153, 147, 131);text-align:left">
                {{power.system.damage.text}}
            </td>
            <td style="text-align:center">
                <a style="color:rgb(153,147,131)" class="item-edit" title="Edit {{power.name}}" data-item-id="{{power.id}}"><i class="fa-solid fa-pencil"></i></a>
                <a style="color:rgb(153,147,131)" title="Delete Item" class="item-delete item" data-item-id="{{power.id}}"><i class="fa-solid fa-xmark"></i></a>
            </td>
        </tr>
    {{/each}}
    </table>
</div>
