<div class="ore flex-item">
    <h3 class="traitsheet-header">
        <div>{{localize "ORE.gen.weapons"}} <a class="item-create" title="Add Weapon" data-type="weapon"><i class="fas fa-plus-square"></i></a> / 
        {{localize "ORE.gen.armors"}} <a class="item-create" title="Add Armor" data-type="armor"><i class="fas fa-plus-square"></i></a></div>
        
    </h3>
    <table class="item-table">
        
    {{#each weapons as |weapon id|}}
         <tr>
         <td>
            <a class="weapon-roll" data-weapon-to-roll="{{weapon.id}}"><i class="fa-solid fa-dice-d10"></i></a>
         </td>
        </td>
            <td class="item-name item" data-item-id="{{weapon.id}}">
              <a class="item-edit" title="Edit"><strong>{{weapon.name}}</strong></a>
            </td>
            <td>
                {{weapon.system.dice.base}}d
                {{#if (ne weapon.system.dice.expert 0)}}
                    + {{weapon.system.dice.expert}}ed
                {{/if}}
                {{#if (ne weapon.system.dice.master 0)}}
                    + {{weapon.system.dice.master}}md
                {{/if}}
            </td>
            <td style="right:100%;">
                <a class="item-delete item" data-item-id="{{weapon.id}}"><i class="fas fa-trash"></i></a>
            </td>
        </tr>
    {{/each}}
    </table>
</div>
