<form class="ore roll-dialog">
 <header class="roll-header">
        <h1 class="ore roll-name">ROLL DIALOG</h1>
    </header>
{{log "allSkills" allSkills}}
{{log "selectStat" selectStat}}
{{log "selectSkill" selectSkill}}
 <div class="ore roll-dialog">
     <div class="form-group">
         <label for="stats">{{localize "ORE.gen.stats"}}</label>
         <select id="selStat" style="width:100%; color:white;" name="stat" data-main-att="stat">
            {{#select stat}}
                {{#each allStats as |st name|}}
                {{#if st.active}}
                    <option style="color:white; background-color:#202020" value="{{name}}"
                    {{#if (eq name ../selectStat)}}
                    selected
                    {{/if}}
                    
                    {{#if (eq name ../linkedStat)}}
                        selected
                    {{/if}}>
                    {{getSetting name}}
                    </option>
                {{/if}}
                {{/each}}
            {{/select}}
         </select>
     </div>
     <div class="form-group">
         <label for="skill">{{localize "ORE.gen.skills"}}</label>
         <select id="selSkill" style="width:100%; color:white;" name="skill" data-main-att="skill">
             <option style="color:white; background-color:#202020" value="none">No Skill Selected</option>
            {{#select skill}}
                {{#each allSkills as |sk name|}}
                
                    <option style="color:white; background-color:#202020" value="{{sk.name}}" {{#ife sk.name ../selectSkill}}selected{{/ife}}>{{sk.name}}</option>
                {{/each}}
            {{/select}}
         </select>
     </div>
 </div>


</form>