<form class="ore roll-dialog">
 <header class="roll-header taskroll-info">
        <h3 class="roll-name">Rolling {{displayText}} {{pool}}D</h3>
</header>
<div class="taskroll-msg">
    <div class="ore flexrow" >
        <div class="ore flex-item" style="flex-grow:2; border-right:2px solid black">
            <p style="text-align:left;">{{sets}}</p>
        </div>
        <div class="ore flex-item">
            <p style="font-size:1em">{{loose}}</p>
        </div>
    </div>
    
    
    
    <!--p style="font-size:1em"> <strong>Roll: </strong>{{allDice}}{{!--#if (eq sets "")}}None{{else}}{{sets}}{{/if--}}</p-->
</div>
</form>