<form class="ore roll-dialog">
 <header class="roll-header taskroll-info">
        <h3 class="roll-name">Rolling {{displayText}} {{pool}}D</h3>
</header>
<div class="taskroll-msg">
    <p style="text-align:center">{{render diceImgs}}</p>
    <p style="font-size:1.35em"> <strong>Sets: </strong>{{#if (eq sets "")}}None{{else}}{{sets}}{{/if}}</p>
</div>
</form>