<form class="ore roll-dialog">
 <header class="roll-header taskroll-info">
        <h2 class="roll-name">Rolling {{displayText}} {{pool}}D</h2>
</header>
<div class="taskroll-msg">
    <p> <strong>Results: </strong>{{allDice}}</p>
    <p> <strong>Results: </strong>{{diceImgs}}</p>
    <p> <strong>Sets: </strong>{{#if (eq sets "")}}None{{else}}{{sets}}{{/if}}</p>
    <p> <strong>Loose Dice: </strong>{{loose}}</p>
</div>
</form>