<form class="{{cssClass}}" autocomplete="off">
    <header class="ore sheethead">
        <div class="ore header-flexitem">
           <img src="{{img}}" data-edit="img" title="{{name}}" height="24" width="24"/>
        </div>
        <div class="ore header-flexitem name-block">
            <div class="charname">
                <input style="display:inline;" name="name" type="text" value="{{name}}"/>
            </div>
    </header>
    <div class="ore">
        <table>
            <tr>
                <td><b>Type: </b></td><td><em>{{type}}</em></td>
            </tr>
            <tr>
                <td><b>Description:</b></td>
                <td><input type="text" name="system.desc" value="{{desc}}" data-dtype="String"></td>
            </tr>
        </table>
        <table>
            <tr>
                <td><b>Max Points</b></td>
                <td>
                    <input class="ore statfield" style="width:2ch;" type="text" value="{{max_points}}" name="system.max_points" data-dtype="Number">
                </td>
                <td><b>Min Points</b></td>
                <td>
                    <input class="ore statfield" style="width:2ch;" type="text" value="{{min_points}}" name="system.min_points" data-dtype="Number">
                </td>
                <td><b>Current Points</b></td>
                <td>
                    <input class="ore statfield" style="width:2ch;" type="text" value="{{curr_points}}" name="system.curr_points" data-dtype="Number">
                </td>
            </tr>
        </table>
    </div>
</form>