<form class="{{cssClass}}" autocomplete="off">
    <header class="ore sheethead">
        <div class="ore header-flexitem">
           <img src="{{img}}" data-edit="img" title="{{name}}" height="24" width="24"/>
        </div>
        <div class="ore header-flexitem name-block">
            <div class="charname">
                <input style="display:inline;" name="name" type="text" value="{{name}}"/>
            </div>
    </header>
    <div class="ore">
        <table>
            <tr>
                <td><b>Type: </b></td><td><em>{{type}}</em></td>
            </tr>
            <tr>
                <td><b>Description:</b></td>
                <td><input type="text" name="system.desc" value="{{desc}}" data-dtype="String"></td>
            </tr>
        </table>
        <table>
            <!--tr>
                <td><b>Base Dice</b></td><td><input class="ore statfield" style="width:2ch;" type="text" name="system.dice.base" value="{{dice.base}}" data-dtype="Number"/></td></b></td>
                <td><b>Expert Dice</b></td><td><input class="ore statfield" style="width:2ch;" type="text" name="system.dice.expert" value="{{dice.expert}}" data-dtype="Number"/></td></b></td>
                <td><b>Master Dice</b></td><td><input class="ore statfield" style="width:2ch;" type="text" name="system.dice.master" value="{{dice.master}}" data-dtype="Number"/></td></b></td>
            </tr>
            <tr>
                <td><b>Restrictions</b></td>
                <td colspan="5"><input style="color:white;" type="text" name="system.restrictions" value="{{restrictions}}" data-dtype="String"></td>
            </tr>
             <tr>
                <td><b>Prerequisites</b></td>
                <td colspan="5"><input style="color:white;" type="text" name="system.prereqs" value="{{prereqs}}" data-dtype="String"></td>
            </tr-->
        </table>
    </div>
</form>
