<form class="{{cssClass}}" autocomplete="off">
    <header class="ore sheethead">
        <div class="ore header-flexitem">
           <img src="{{img}}" data-edit="img" title="{{name}}" height="24" width="24"/>
        </div>
        <div class="ore header-flexitem name-block">
            <div class="charname">
                <input style="color:white; display:inline;" name="name" type="text" value="{{name}}"/>
            </div>
    </header>
    <div class="ore">
        <table style="color:white;">
            <tr>
                <td><b>Type: </b></td><td><em>{{type}}</em></td>
            </tr>
            <tr>
                <td><b>Description:</b></td>
                <td><input style="color:white" type="text" name="system.desc" value="{{desc}}" data-dtype="String"></td>
            </tr>
            <tr>
                <td><b>Linked Stat:</b></td>
                <td>
                <select style="color:white" id="linkStat" style="width:100%;" name="system.linked_stat" data-main-att="link">
                {{#select system.linked_stat}}
                <option class="ore" style="background-color:black" value="bod" {{#if (eq linked_stat "bod")}}selected{{/if}}>Body</option>
                <option class="ore" style="background-color:black" value="crd" {{#if (eq linked_stat "crd")}}selected{{/if}}>Coordination</option>
                <option class="ore" style="background-color:black" value="sns" {{#if (eq linked_stat "sns")}}selected{{/if}}>Sense</option>
                <option class="ore" style="background-color:black" value="mnd" {{#if (eq linked_stat "mnd")}}selected{{/if}}>Mind</option>
                <option class="ore" style="background-color:black" value="cmd" {{#if (eq linked_stat "cmd")}}selected{{/if}}>Command</option>
                <option class="ore" style="background-color:black" value="emp" {{#if (eq linked_stat "emp")}}selected{{/if}}>Empathy</option>
                {{/select}}
         </select>
         </td>
            </tr>
        </table>
        <table style="color:white;">
            <tr>
                <td><b>Base Dice</b></td><td><input class="ore statfield" style="width:2ch;" type="text" name="system.dice.base" value="{{dice.base}}" data-dtype="Number"/></td></b></td>
                <td><b>Expert Dice</b></td><td><input class="ore statfield" style="width:2ch;" type="text" name="system.dice.expert" value="{{dice.expert}}" data-dtype="Number"/></td></b></td>
                <td><b>Master Dice</b></td><td><input class="ore statfield" style="width:2ch;" type="text" name="system.dice.master" value="{{dice.master}}" data-dtype="Number"/></td></b></td>
            </tr>
             <tr>
                <td><b>Specialized?</b></td>
                <td>
                    <input name="system.specialized" type="checkbox" {{checked specialized}} />
                </td>
                <td><b>Specialty</b></td>
                <td colspan="3">
                    <input style="color:white;" type="text" name="system.specialty" value="{{specialty}}" data-dtype="String">
                </td>
            </tr>
        </table>
    </div>
</form>
